<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
    </div>
    <div>
      <!--Vidhi-->
      <div style="display:inline-flex">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/vidhi.jpg" alt="vidhi" />
        </div>
        <div class="description" style="margin:20px 100px 100px 70px;">
          <h4>Vidhi Bhavsar</h4>
          <p class="text-muted">Technical Advisor<br />vidhibhavsar1008@gmail.com</p>
          <p style="text-align:justify">
            Job description - Responsible for developing applications, provide technical advice and coordinate with the team for technical activities. Help team members in programming skills and provide insight for financial plans.
          </p>
        </div>
      </div>
      <hr />

      <!--Mayur-->
      <div style="display:inline-flex">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/mayur.jpg" alt="vidhi" />
        </div>
        <div class="description" style="margin:20px 100px 100px 70px;">
          <h4>Mayur Bhadani</h4>
          <p class="text-muted">Solution Tester <br /> mayurbhadani99@gmail.com</p>
          <p style="text-align:justify">
            Job description – Responsible for testing the results and document the problem if found. He performs manual and automated test to guarantee that software is fit for use. Perform duties of analysing the software, mitigate system risk and prevent any software issues.
          </p>
        </div>
      </div>
      <hr />

      <!--Renu-->
      <div style="display:inline-flex">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/renu.jpg" alt="vidhi" />
        </div>
        <div class="description" style="margin:20px 100px 100px 70px;">
          <h4>Renu</h4>
          <p class="text-muted">Workshop Facilitator <br />saharanrenu123@gmail.com</p>
          <p style="text-align:justify">
            Job description – Responsible for facilitation group activities and instruct to help the group to perform best thinking together. Take care that all group members have equal participation and are aligned with each other.
          </p>
        </div>
      </div>
      <hr />

      <!--Sashi-->
      <div style="display:inline-flex">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/sashi.jpg" alt="vidhi" />
        </div>
        <div class="description" style="margin:20px 100px 100px 70px;">
          <h4>Sashi Kakarla</h4>
          <p class="text-muted">Business Analyst <br />sasi.kakarla@gmail.com</p>
          <p style="text-align:justify">
            Job description - Responsible to bridge the gap between IT and the business using data analytics to access process, find requirements and deliver data-driven recommendations and report to executives and stakeholders.
          </p>
        </div>
      </div>
      <hr />

      <!--Pratik-->
      <div style="display:inline-flex">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/pro.jfif" alt="vidhi" />
        </div>
        <div class="description" style="margin:20px 100px 100px 70px;">
          <h4>Pratik Kulkarni</h4>
          <p class="text-muted">Solution Developer <br />pratikkulkarni8149@gmail.com</p>
          <p style="text-align:justify">
            Job description – Responsible for creating IT solution required for the project, this can go from custom made software to graphic designs. He closely communicates with the customers to know what need to deliver.
          </p>
        </div>
      </div>
      <hr />

    </div>
  </div>
</section>
