<div class="text" id="target">
  <!-- basic information-->
  <div class="top">
    <h1> Market Insights</h1>
    <p>To increase revenue for your small business, you should focus on your customers, boost your marketing and sales efforts, review your pricing strategies and expand your market.</p>
    <p>No matter your budget, there are some subsidies that small and medium-scale business investors can use to increase profits and improve the bottom lines. The key to increased revenues and success is maintaining a balance between short-term and long-term goals.</p>
  </div>
  <!--<img src="../../assets/Image/profitplus.jpeg" style="overflow:hidden;width: 100%;" />-->
  <!-- Strategies-->
  <div>
    <h2 class="top">Customers' inclined and transformed mindsets towards buying products </h2>
    <ol>
      <li>
        <strong>Hygiene </strong> &nbsp;- During pandemic people were scared for hygiene not only for their own but also for others. If anyone doubts their health, they prefer to stay home rather than going out shopping or exercise. People prefer to buy food through online apps for example UBEREATS, MENULOG, etc. People did panic buys for sanitizers, gloves, cleaning products.
      </li>
      <li>
        <strong> Preference towards companies </strong> &nbsp;- Customers were inclined towards those companies which were trustful, transparent, and have a clear purpose. During the pandemic peak, customers did not want to try new brands as it had become hard to get out of home and visit a different place. They preferred buying those products which they already believe that their quality is assured.
      </li>
      <li>
        <strong> Sustainable choice </strong> &nbsp;- Customers have increased sustainable choice. They started recycling the products and decreased the use of plastic. If they use plastic products, they first see that they should be BPA-free.
      </li>
      <li>
        <strong>Automate your business </strong> &nbsp;- Pandemic has made people jobless for a while. Lots of businesses were shut down, many were suffering loss. Therefore, people are inclined towards reasonable cost products, which they can afford and lasts for a long time.
      </li>
      <li>
        <strong>Raise your network </strong> &nbsp;- A huge surge can be seen during 2020 in online buying. Work from home trend was prevailing during COVID-19, therefore people hardly go out for shopping hence they increase online buying.
      </li>
    </ol>
  </div>

  <div>
    <div style="text-align:center">
      <h3>Let's have a look on majorly affected quarter of year 2019 and 2020, based on customers' changed mindset of purchasing product due to pandemic </h3>
      <a class="viztext" (click)="openViz(1)">
        <h3>Click here for 2019</h3>
      </a>
      <a class="viztext" (click)="openViz(2)">
        <h3>Click here for 2020</h3>
      </a>
    </div>
  </div>


</div>

