<div class="text" id="target">
  <!-- basic information-->
  <div class="top">
    <h1> Profit Plus</h1>
    <p class="inside font">To increase revenue for your small business, you should focus on your customers, boost your marketing and sales efforts, review your pricing strategies and expand your market.</p>
    <p>No matter your budget, there are some subsidies that small and medium-scale business investors can use to increase profits and improve the bottom lines. The key to increased revenues and success is maintaining a balance between short-term and long-term goals.</p>
  </div>
  <img src="../../assets/Image/profitplus.jpeg" style="overflow:hidden;width: 100%;" />
  <!-- Strategies-->
  <div>
    <h1 class="top inside_font">How to increase your profit margin in this Pandemic?</h1>
    <ol>
      <li>
        <strong>Change Operating Procedures </strong> &nbsp;- Offering new services or products that complement what you already have on hand will help you sell more of your products. Another step to increase the profit is incentivizing a new customer to try your new products and provide a discount and special deals to them.
      </li>
      <li>
        <strong>Stay Visible and Connected </strong> &nbsp;- Take your reputation online by using social media, your website, and blogs that increase your connection with clients and make strategic alliances. Use advertisement sharing with complementary businesses, find ways to leverage referral selling, and take advantage of different marketing tools to drive new customers to your site
      </li>
      <li>
        <strong>Maximize Your Cash Flow </strong> &nbsp;- Offering pre-paid retainers or ongoing payment arrangements to the customers is one of the easiest ways to achieve a stable cash flow. Initially, it may not seems lucrative but it builds a partnership and keep the door open for future work.
      </li>
      <li>
        <strong>Automate your business </strong> &nbsp;- Automation allowed the organization to work smoothly and helps a smaller workforce to complete more back-office tasks. Create a system for employees to access and add data, and make sure to include back-office administrative time in your project payments, hourly rates, or ongoing charges.
      </li>
      <li>
        <strong>Raise your network </strong> &nbsp;- To handshake with investors and customers, use online networks such as Facebook, Linkedin, Youtube, Twitter, and Instagram. This gives the instance present of your company called immediacy. Use webinars to organize group meetings, sales presentations, and special promotions. Provide webcasts or podcasts with tutorials, demos, or new certification sessions for immediate download.
      </li>
      <li>
        <strong>Make Everyone a Salesperson </strong> &nbsp;- Every employee has the opportunity to spread your company's message and engage in potential sales-generating activity through phone, email, and face-to-face meetings. Everyone needs to pitch in to help by cutting costs, selling, networking on the web, marketing, and more.
      </li>
      <li>
        <strong>Increase productivity of your staff </strong> &nbsp;- Based on the staff performance reviews recognize and reward staff who are contributing and teach them sales skills and how to upsell products so customers make multiple purchases at one time.
      </li>
    </ol>
  </div>

  <div>
    <div style="text-align:center">
      <h1>Want to get insights of profit during pandemic in Australian states ? </h1>
      <a class="viztext" (click)="openViz(1)">
        <h3>Click here for 2019</h3>
      </a>
      <a class="viztext" (click)="openViz(2)">
        <h3>Click here for 2020</h3>
      </a>
    </div>
  </div>





</div>


