.text {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  line-height: 2;
}

.top {
  text-align: center;
}

.viztext {
  transition: 0.5s;
}

  .viztext:hover {
    cursor: pointer;
    font-size: 20px;
    text-shadow: 2px 2px 5px darkslategrey;
  }
