*, ::after, ::before {
  box-sizing: border-box
}

.form-button-bar {
  display: flex;
  justify-content: flex-end
}

.reset-calculator {
  margin-right: 32px
}

p {
  margin: 0;
  padding: 0
}

h1, h2, h3, h4, h5 {
  margin-top: 0
}

figure {
  margin-left: 0;
  margin-right: 0
}

@media screen and (max-width:67.4375em) {
  input {
    font-size: 1em
  }
}

@supports (display:flow-root) {
  .clearfix {
    display: flow-root
  }

    .clearfix::after {
      content: none
    }
}

.page-gutter {
  padding-left: 5%;
  padding-right: 5%
}

@media screen and (min-width:100em) {
  .page-gutter {
    padding-left: 80px;
    padding-right: 80px
  }
}

.item-gutter {
  padding-left: 4px;
  padding-right: 4px
}

@media screen and (min-width:46.875em) and (max-width:67.4375em) {
  .item-gutter {
    padding-left: 9px;
    padding-right: 9px
  }
}

@media screen and (min-width:67.5em) {
  .item-gutter {
    padding-left: 18px;
    padding-right: 18px
  }
}

[role=button], a, button, input, label {
  touch-action: manipulation
}

button {
  background: 0 0;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit
}

@supports (display:flow-root) {
  main {
    display: flow-root
  }

    main::after {
      content: none
    }
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1600px
}

  .page-container::after {
    content: '';
    display: table;
    clear: both
  }

@supports (display:flow-root) {
  .page-container {
    display: flow-root
  }

    .page-container::after {
      content: none
    }
}

@font-face {
  font-family: ShopifySans;
  src: url(https://cdn.shopify.com/static/fonts/ShopifySans--light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap
}

@font-face {
  font-family: ShopifySans;
  src: url(https://cdn.shopify.com/static/fonts/ShopifySans--regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap
}

@font-face {
  font-family: ShopifySans;
  src: url(https://cdn.shopify.com/static/fonts/ShopifySans--medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap
}

@font-face {
  font-family: ShopifySans;
  src: url(https://cdn.shopify.com/static/fonts/ShopifySans--bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap
}

@font-face {
  font-family: ShopifySans;
  src: url(https://cdn.shopify.com/static/fonts/ShopifySans--extrabold.woff2) format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap
}

@font-face {
  font-family: ShopifySans;
  src: url(https://cdn.shopify.com/static/fonts/ShopifySans--black.woff2) format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #6b7177;
  font-weight: 400
}

.heading--1, h1 {
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
  font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
  -webkit-font-feature-settings: 'kern','liga','clig','calt','dlig';
  font-feature-settings: 'kern','liga','clig','calt','dlig';
  display: block;
  margin-bottom: .7142857143em;
  color: #212326;
  font-size: 1.75em;
  line-height: 1.2142857143;
  font-weight: 800;
  font-family: ShopifySans,Helvetica,Arial,sans-serif;
  letter-spacing: -.0207142857em
}

@media screen and (min-width:46.875em) and (max-width:67.4375em) {
  .heading--1, h1 {
    font-size: 1.75em;
    margin-bottom: .5em
  }
}

@media screen and (min-width:67.5em) {
  .heading--1, h1 {
    font-size: 2.5em;
    margin-bottom: .3em
  }
}

.heading--2, h2 {
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
  font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
  -webkit-font-feature-settings: 'kern','liga','clig','calt','dlig';
  font-feature-settings: 'kern','liga','clig','calt','dlig';
  display: block;
  margin-bottom: .8333333333em;
  color: #212326;
  font-size: 1.5em;
  line-height: 1.3333333333;
  font-weight: 400;
  font-family: ShopifySans,Helvetica,Arial,sans-serif
}

@media screen and (min-width:46.875em) and (max-width:67.4375em) {
  .heading--2, h2 {
    font-size: 1.5em;
    margin-bottom: .8333333333em
  }
}

@media screen and (min-width:67.5em) {
  .heading--2, h2 {
    font-size: 1.875em;
    margin-bottom: .6em
  }
}

.heading--3, h3 {
  display: block;
  font-size: 1.25em;
  margin-bottom: .9em;
  color: #212326;
  line-height: 1.33333;
  font-weight: 400;
  font-family: ShopifySans,Helvetica,Arial,sans-serif
}

@media screen and (min-width:46.875em) and (max-width:67.4375em) {
  .heading--3, h3 {
    font-size: 1.25em;
    margin-bottom: .9em
  }
}

@media screen and (min-width:67.5em) {
  .heading--3, h3 {
    font-size: 1.5em;
    margin-bottom: .8333333333em
  }
}

.heading--4, h4 {
  display: block;
  margin-bottom: .625em;
  color: #212326;
  font-size: 1em;
  line-height: 1.33333125;
  font-weight: 500;
  font-family: ShopifySans,Helvetica,Arial,sans-serif
}

@media screen and (min-width:46.875em) and (max-width:67.4375em) {
  .heading--4, h4 {
    font-size: 1em;
    margin-bottom: .75em
  }
}

@media screen and (min-width:67.5em) {
  .heading--4, h4 {
    font-size: 1.125em;
    margin-bottom: .6666666667em
  }
}

.heading--5, h5 {
  display: block;
  margin-bottom: 1.4285714286em;
  color: #212326;
  font-size: .875em;
  line-height: 1.1428571429;
  font-weight: 800;
  font-family: ShopifySans,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: .04375em
}

@media screen and (min-width:46.875em) and (max-width:67.4375em) {
  .heading--5, h5 {
    font-size: .875em;
    margin-bottom: 1.4285714286em
  }
}

@media screen and (min-width:67.5em) {
  .heading--5, h5 {
    font-size: .875em;
    margin-bottom: 1.4285714286em
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #008060
}

.text-minor {
  font-size: .75em
}

.body-link {
  color: #008060;
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  -webkit-text-decoration-color: currentColor;
  text-decoration-color: currentColor;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto
}

  .body-link:focus, .body-link:hover {
    text-decoration: none
  }

  .body-link:active {
    background-color: rgba(0,128,96,.125)
  }

:lang(ja) {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  -webkit-font-variant-ligatures: normal;
  font-variant-ligatures: normal
}

:lang(vi) {
  font-family: -apple-system,BlinkMacSystemFont,'San Francisco','Segoe UI',Roboto,'Helvetica Neue',sans-serif
}

.grid {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5%;
  padding-right: 5%
}

  .grid::after {
    content: '';
    display: table;
    clear: both
  }

@supports (display:flow-root) {
  .grid {
    display: flow-root
  }

    .grid::after {
      content: none
    }
}

@media screen and (min-width:100em) {
  .grid {
    padding-left: 80px;
    padding-right: 80px
  }
}

.grid .grid {
  padding-left: 0;
  padding-right: 0;
  margin-left: -4px;
  margin-right: -4px
}

@media screen and (min-width:46.875em) and (max-width:67.4375em) {
  .grid .grid {
    margin-left: -9px;
    margin-right: -9px
  }
}

@media screen and (min-width:67.5em) {
  .grid .grid {
    margin-left: -18px;
    margin-right: -18px
  }
}

.grid--bleed {
  padding-left: 0;
  padding-right: 0
}

.grid--equal-height::after, .grid--vertically-centered::after {
  content: none
}

@supports (display:flow-root) {
  .grid--equal-height, .grid--vertically-centered {
    display: unset
  }
}

.grid--equal-height, .grid--vertically-centered {
  display: flex;
  flex-wrap: wrap
}

.grid--vertically-centered {
  align-items: center
}

.grid__item {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  padding-left: 4px;
  padding-right: 4px
}

@media screen and (min-width:67.5em) {
  .grid__item {
    padding-left: 18px;
    padding-right: 18px
  }
}

@media screen and (min-width:46.875em) and (max-width:67.4375em) {
  .grid__item {
    padding-left: 9px;
    padding-right: 9px
  }
}

.grid__item--mobile-up-1 {
  width: 25%
}

.grid__item--mobile-up-2 {
  width: 50%
}

.grid__item--mobile-up-3 {
  width: 75%
}

.grid__item--mobile-up-4 {
  width: 100%
}

.grid__item--mobile-up-half {
  width: 50%
}

.grid__item--mobile-up-third {
  width: 33.3333333333%
}

.grid__item--mobile-up-push-1 {
  left: 25%
}

.grid__item--mobile-up-push-2 {
  left: 50%
}

.grid__item--mobile-up-push-3 {
  left: 75%
}

.grid__item--mobile-up-push-4 {
  left: 100%
}

.grid__item--mobile-up-push-half {
  left: 50%
}

.grid__item--mobile-up-push-third {
  left: 33.3333333333%
}

[class*=grid__item--mobile-up-push] {
  right: auto
}

[class*=grid__item--mobile-up-pull] {
  left: auto
}

@media screen and (min-width:46.875em) {
  [class*=grid__item--tablet-up-push] {
    right: auto
  }

  [class*=grid__item--tablet-up-pull] {
    left: auto
  }
}

@media screen and (min-width:67.5em) {
  [class*=grid__item--desktop-up-push] {
    right: auto
  }

  [class*=grid__item--desktop-up-pull] {
    left: auto
  }
}

@media screen and (min-width:90em) {
  [class*=grid__item--wide-up-push] {
    right: auto
  }

  [class*=grid__item--wide-up-pull] {
    left: auto
  }
}

.marketing-button {
  display: inline-block;
  padding: 1em 1.8125em;
  border-radius: 4px;
  font-family: ShopifySans,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.133;
  transition: 150ms ease;
  transition-property: background-color,border-color,box-shadow,color;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  background-color: #008060;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: transparent
}

  .marketing-button, .marketing-button:focus, .marketing-button:hover {
    text-decoration: none
  }

    .marketing-button:focus {
      outline: 0
    }

@media screen and (min-width:46.875em) {
  .marketing-button + .marketing-button {
    margin-left: 16px
  }
}

.marketing-button:focus, .marketing-button:hover {
  background-color: #004c3f;
  color: #fff
}

.marketing-button:active {
  background-color: #002e25;
  color: #fff;
  border-color: #002e25
}

.marketing-button:hover {
  box-shadow: 0 5px 25px 0 rgba(0,0,0,.25)
}

.marketing-button:focus {
  box-shadow: 0 0 .1875em .1875em rgba(0,128,96,.5)
}

.marketing-button[disabled] {
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  background-color: #828a91;
  color: #fff;
  cursor: not-allowed
}

  .marketing-button[disabled]:focus, .marketing-button[disabled]:hover {
    background-color: #727b82;
    color: #fff
  }

  .marketing-button[disabled]:active {
    background-color: #697077;
    color: #fff
  }

  .marketing-button[disabled]:hover {
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.25)
  }

  .marketing-button[disabled]:focus {
    box-shadow: 0 0 .1875em .1875em rgba(130,138,145,.5)
  }

  .marketing-button[disabled]:active, .marketing-button[disabled]:focus, .marketing-button[disabled]:hover {
    background-color: #828a91
  }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.marketing-button--block {
  width: 100%;
  padding-left: 0;
  padding-right: 0
}

.marketing-button--small {
  padding: .75em 1.875em
}

.marketing-button-wrapper {
  display: inline
}

.link {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  -webkit-text-decoration-color: currentColor;
  text-decoration-color: currentColor;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto
}

  .link:focus, .link:hover {
    text-decoration: none
  }

  .link:active {
    background-color: rgba(0,0,0,.1)
  }

.marketing-input-wrapper {
  position: relative;
  display: block;
  margin-bottom: 15px
}

  .marketing-input-wrapper .marketing-input {
    margin-bottom: 0
  }

  .marketing-input-wrapper.js-is-hidden {
    display: none
  }

.marketing-input {
  display: inline-block;
  height: 3.2em;
  width: 100%;
  margin: 0 0 15px;
  padding: 1em .9375em;
  color: #212326;
  font-family: ShopifySans,Helvetica,Arial,sans-serif;
  font-size: 1em;
  box-shadow: 0 0 0 1px #6b7177;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #fff;
  transition: padding 150ms;
  -webkit-appearance: none;
  appearance: none
}

  .marketing-input:focus {
    color: #000;
    outline: 0;
    box-shadow: 0 0 0 2px #008060
  }

  .marketing-input[disabled] {
    background-color: #d2d5d9
  }

  .marketing-input::-webkit-input-placeholder {
    color: #6b7177
  }

  .marketing-input:-ms-input-placeholder {
    color: #6b7177
  }

  .marketing-input::placeholder {
    color: #6b7177
  }

.marketing-label {
  display: block;
  margin-bottom: .6153846154em;
  font-family: ShopifySans,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: .8125em;
  color: #42474c
}

.marketing-label--in-field {
  position: absolute;
  left: 1rem;
  top: .5rem;
  font-size: .6875em;
  font-weight: 400;
  pointer-events: none;
  z-index: 10
}

.marketing-label--floating {
  opacity: 0;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  transition-property: opacity,-webkit-transform;
  transition-property: opacity,transform;
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 150ms
}

.marketing-label--hidden {
  display: inline
}

.marketing-form__messages {
  font-size: .8125em;
  font-weight: 500
}

  .marketing-form__messages .suggest {
    display: block;
    padding: .6153846154em 0 0
  }

  .marketing-form__messages .suggest {
    display: none;
    color: #6b7177
  }

.section {
  padding: 4em 0
}

@media screen and (min-width:46.875em) {
  .section {
    padding-top: 6em;
    padding-bottom: 6em
  }
}

.section .section:first-child:not(:only-child) {
  padding-top: 0
}

.section .section:last-child:not(:only-child) {
  padding-bottom: 0
}

.section--tight {
  padding: 2em 0
}

@media screen and (min-width:46.875em) {
  .section--tight {
    padding-top: 3em;
    padding-bottom: 3em
  }
}

.section--border {
  border-top: 1px solid #d2d5d9
}

.section-heading {
  margin-bottom: 2.8125em;
  text-align: center
}

@media screen and (min-width:67.5em) {
  .section-heading {
    margin-bottom: 3.75em
  }
}

.section-heading--tight {
  margin-bottom: 1.5625em
}

  .section-heading--tight .section-heading__heading {
    margin-bottom: .25em
  }

  .section-heading--tight .section-heading__subhead {
    margin-bottom: 0
  }

.section-heading__subhead {
  font-weight: 400;
  color: #6b7177
}

.block {
  display: block;
  border-color: #d2d5d9;
  margin-bottom: 2.8125em
}

@supports (display:flow-root) {
  .footer--main {
    display: flow-root
  }

    .footer--main::after {
      content: none
    }
}

@supports (display:flow-root) {
  .footer-section {
    display: flow-root
  }

    .footer-section::after {
      content: none
    }
}

@supports (display:flow-root) {
  .footer-bottom {
    display: flow-root
  }

    .footer-bottom::after {
      content: none
    }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.gutter-bottom {
  margin-bottom: 32px !important
}

.gutter-bottom--reset {
  margin-bottom: 0 !important
}

.gutter-bottom--half {
  margin-bottom: 16px !important
}

@media screen and (max-width:46.8125em) {
  .gutter-bottom--reset--mobile {
    margin-bottom: 0 !important
  }

  .gutter-bottom--mobile {
    margin-bottom: 32px !important
  }
}

.text-center {
  text-align: center
}

@media screen and (max-width:46.8125em) {
  .text-center--mobile {
    text-align: center
  }
}

@supports (display:flow-root) {
  .pagination {
    display: flow-root
  }

    .pagination::after {
      content: none
    }
}

.page-width {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 32px;
  padding-right: 32px
}

  .page-width::after {
    content: '';
    display: table;
    clear: both
  }

@supports (display:flow-root) {
  .page-width {
    display: flow-root
  }

    .page-width::after {
      content: none
    }
}

@media screen and (min-width:67.5em) {
  .page-width {
    width: 1008px
  }
}

@media screen and (min-width:46.875em) and (max-width:67.4375em) {
  .page-width {
    width: 750px
  }
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  position: relative
}

  .grid-container::after {
    content: '';
    display: table;
    clear: both
  }

@supports (display:flow-root) {
  .grid-container {
    display: flow-root
  }

    .grid-container::after {
      content: none
    }
}

@media screen and (min-width:46.875em) {
  .grid-container--equal-height {
    display: flex
  }
}

@media screen and (min-width:67.5em) {
  .grid-8 {
    width: 944px
  }

  .grid-push-8 {
    margin-left: 976px
  }

  .grid-7 {
    width: 822px;
    margin-right: 32px
  }

  .grid-push-7 {
    margin-left: 854px
  }

  .grid-6 {
    width: 700px;
    margin-right: 32px
  }

  .grid-push-6 {
    margin-left: 732px
  }

  .grid-5 {
    width: 578px;
    margin-right: 32px
  }

  .grid-push-5 {
    margin-left: 610px
  }

  .grid-4 {
    width: 456px;
    margin-right: 32px
  }

  .grid-push-4 {
    margin-left: 488px
  }

  .grid-3 {
    width: 334px;
    margin-right: 32px
  }

  .grid-push-3 {
    margin-left: 366px
  }

  .grid-2 {
    width: 212px;
    margin-right: 32px
  }

  .grid-push-2 {
    margin-left: 244px
  }

  .grid-1 {
    width: 90px;
    margin-right: 32px
  }

  .grid-push-1 {
    margin-left: 122px
  }
}

@media screen and (min-width:46.875em) and (max-width:67.4375em) {
  .grid-8 {
    width: 704px
  }

  .grid-push-8 {
    margin-left: 736px
  }

  .grid-7 {
    width: 612px;
    margin-right: 32px
  }

  .grid-push-7 {
    margin-left: 644px
  }

  .grid-6 {
    width: 520px;
    margin-right: 32px
  }

  .grid-push-6 {
    margin-left: 552px
  }

  .grid-5 {
    width: 428px;
    margin-right: 32px
  }

  .grid-push-5 {
    margin-left: 460px
  }

  .grid-4 {
    width: 336px;
    margin-right: 32px
  }

  .grid-push-4 {
    margin-left: 368px
  }

  .grid-3 {
    width: 244px;
    margin-right: 32px
  }

  .grid-push-3 {
    margin-left: 276px
  }

  .grid-2 {
    width: 152px;
    margin-right: 32px
  }

  .grid-push-2 {
    margin-left: 184px
  }

  .grid-1 {
    width: 60px;
    margin-right: 32px
  }

  .grid-push-1 {
    margin-left: 92px
  }
}

.grid-item {
  float: left;
  position: relative
}

@media screen and (max-width:46.8125em) {
  .grid-item {
    float: none
  }

    .grid-item.grid--mobile {
      float: left;
      display: block;
      margin-right: 7.0175438596%;
      width: 46.4912280702%;
      float: left
    }

      .grid-item.grid--mobile:last-child {
        margin-right: 0
      }

      .grid-item.grid--mobile:nth-child(2n) {
        margin-right: 0
      }

      .grid-item.grid--mobile:nth-child(2n+1) {
        clear: left
      }
}

@media screen and (min-width:46.875em) {
  .grid-item--margin-bottom {
    margin-bottom: 2em
  }
}

.form-section {
  margin-bottom: 2em
}

.form-header {
  border-bottom: 1px solid #d2d5d9;
  margin-bottom: 2em
}

@media screen and (min-width:46.875em) {
  .form-header::after {
    content: '';
    display: table;
    clear: both
  }

  @supports (display:flow-root) {
    .form-header {
      display: flow-root
    }

      .form-header::after {
        content: none
      }
  }

  .form-header__heading {
    float: left
  }
}

@media screen and (min-width:46.875em) {
  .form-section-submit {
    float: right
  }
}

@media screen and (max-width:46.8125em) {
  .form-section-submit {
    width: 100%;
    margin-bottom: 2em
  }
}

@media screen and (min-width:46.875em) {
  .form-help-text {
    padding-top: .625em;
    float: right;
    margin-right: 2em
  }
}

@media screen and (max-width:46.8125em) {
  .form-help-text {
    text-align: center
  }
}

@media screen and (min-width:46.875em) {
  .split-columns {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    column-gap: 2em
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0)
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0)
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

.calculator-form {
  margin-bottom: 2em
}

@media screen and (min-width:46.875em) {
  .calculator-form {
    background-color: #f0f1f2;
    border: 1px solid #d2d5d9;
    padding: 2em
  }
}

.calculator-result {
  border: 1px solid #d2d5d9
}

.calculator-result__header {
  background-color: #f0f1f2;
  border-bottom: 1px solid #d2d5d9;
  padding: 1em;
  margin-bottom: 0;
  text-align: center;
  font-size: .8125em;
  text-transform: uppercase;
  color: #42474c;
  font-weight: 700
}

.calculator-result__block {
  text-align: center;
  padding: 2em 0
}

.calculator-result__value {
  color: #008060;
  margin-bottom: 0
}
