<section>
  <div id="target">
    <h1 class="title">
      How to survive in business amidst the coronavirus chaos
    </h1>
  </div>
</section>

<h1 class="hub-title headline-font">New business models in the wake of COVID-19.</h1>

<div class="card-body entry-content inside_font">

  <p>COVID-19 hit like a freight train, hurtling business plans and carefully thought out strategies into a tumult. For almost every small business in Australia, 2020 was a year of holding on, making it through each day and ceaselessly pivoting.</p>
  <p>Some of these models have been essential for surviving lockdowns and will disperse in due time, while many models look to be set to stay.</p>
  <p>Here’s an in-depth look at the new business models in Australia created by the global pandemic.</p>
  <p><img loading="lazy" class="size-full" src="../../assets/img/general_Info/WorkFromHome.jpg"></p>
  <h2><strong>The shift to working from home.</strong></h2>
  <p>One of the first things to change for businesses and workers was the move to the home office. As Australia and the world went into lockdown, millions of businesses had to adapt quickly and create an environment where employees could effectively continue working from home.</p>
  
  <p>Home workers were more common in some industries than others, with 58% of finance and insurance employees moving to a home office, and roughly half of those in public administration and defence (51%) and in communications (47%) setting up home offices.</p>
  <p>Meanwhile, industries such as retail, manufacturing and agriculture saw just one in six employees staying home for work.</p>
  
  
  <h2><strong>Faster digitisation of the economy.</strong></h2>
  <p>Countless business models have long relied on in-person meetings and work, yet lockdowns and coronavirus safety measures quickly became a catalyst for the digitisation of the economy.</p>
  <p>In a November speech, Reserve Bank of Australia governor Philip Lowe said that one of the biggest changes to our economy has been the move to digitisation.</p>
  <p>“In some areas, progress that otherwise would have taken years has been made in a matter of months. The combination of necessity, new technologies and the easing of regulations has made a real difference. Digitalisation is not only helping Australians deal with the pandemic, but it will also boost productivity and can help drive future economic growth,” he explained.</p>
  
  <p>Many of these business models would have likely changed over time, yet the pandemic brought those changes to the forefront.</p>
  <p><img loading="lazy" class="size-full" src="../../assets/img/general_Info/OnlineShopping.jpg"></p>
  <h2><strong>Online shopping.</strong></h2>
  <p>eCommerce and online shopping have long been on the rise across Australia, both in the cities and in rural areas.</p>
  <p>In 2018, Australia Post reported an increase of more than 20% on average across all states in territories within that year alone, with 73% of Australian households shopping online in 2018.</p>
  <p>In 2020, eCommerce has flourished. Australia Post reported that 8.5 million households shopping online between March and October, an increase of 13.7% year on year. The <a href="https://auspost.com.au/content/dam/auspost_corp/media/documents/2020-ecommerce-industry-report.pdf" target="_blank" rel="noopener noreferrer" class="docs-creator">group also reported</a> an additional 200,000 online shoppers in April 2020, none of which had ever made an online purchase before.</p>
  <p>As the pandemic forced many businesses to move to online platforms, it favoured businesses that were well set up for eCommerce and able to maintain supply levels. Between September and October 2020, the number of people who were attempting to purchase items online but found that stock was unavailable or sold out increased significantly, from 28.3% to 34.5% according to Australia Post.</p>
  
  <h2><strong>Automation.</strong></h2>
  <p>As many businesses sent staff home to work, many more were unfortunately unable to maintain the same staff levels as they had prior to the pandemic, with nearly a <a href="https://www.nationalskillscommission.gov.au/news-centre/impact-covid-19-australian-businesses-part-one" target="_blank" rel="noopener noreferrer" class="docs-creator">third of Australian businesses reducing staff numbers</a> since the outbreak.</p>
  <p>However, that didn’t necessarily mean that the amount of work to be done was equally reduced, meaning companies had to evolve to find new ways to complete the same number of tasks without the same manpower.</p>
  <p>One of the outcomes was automation.</p>
  
  
  <p>In sales, lead scoring automation software can rank leads according to their likelihood of making a purchase by using their engagement information, which can save precious human hours and result in more sales.</p>
  <p>For retail businesses automation can help with inventory management, by automatically creating orders for new stock based on past data.</p>
  
  <p><img loading="lazy" class="size-full" src="../../assets/img/general_Info/FoodDelivery.jpg"></p>
  <h2><strong>Changing supply chains.</strong></h2>
  <p>As lockdowns came into place around the country, countless supply chains were disrupted. As retailers and restaurants were unable to open or sell stock, suppliers were no longer able to sell their wares – but that didn’t mean there wasn’t demand for them.</p>
  <p>In some cases, businesses were able to quickly create a new business model where they sold directly to the final consumer, cutting out the middleman by pure necessity.</p>
  <p>One instance, documented by the ABC, is the case of Henry Yu, a Hong Kong immigrant and owner of fruit and vegetable wholesaler Freshchoy’s. Normally, Mr Yu would provide fruits and vegetables to local Chinese restaurants but, as restaurants across Melbourne closed, he quickly turned to social media app WeChat to drum up business.</p>
  <p>There, he found more than 8,000 customers who still wanted fruits and vegetables for their at-home dining, and he was able to not just stay afloat during the lockdown, but to thrive.</p>
  <p>In another instance, Business Insider followed the story of Single O, a cafe and coffee bean roastery in Sydney. Again, as cafes closed down across the city, Single O saw demand for their beans completely dry up.</p>
  <p>Yet within 48 hours, owners Dean and Emma had put together a ‘Stimulus Blend’ that they could sell directly to coffee-craving customers individually.</p>
  <p>These instances of small businesses making smart decisions about their business models are certainly not alone, as SMBs sought out new markets for their products and managed to create an entirely new supply chain that they can continue to provide long after the lockdowns end.</p>
  <h2><strong>Diversification.</strong></h2>
  <p>For many businesses, the usual demand for their products or services disappeared almost overnight, which meant that they had to diversify to stay afloat until normal demand returned.</p>
  <p>Famously, during the early days of the pandemic when supermarkets and pharmacies couldn’t stay stocked with hand sanitiser, and when even hospitals and doctor’s offices struggled to obtain enough sanitiser, help came from an unexpected source. A number of distilleries around Australia (and the world) diversified to producing sanitiser, given their equipment and production lines were able to meet this demand.</p>
  <p>Four Pillars, a gin distillery, helped to supply hand sanitiser to medical professionals and consumers, while Earp Distillery helped to supply clients such as Canada Post. As bars and restaurants stopped ordering distilled spirits, these businesses were able to take a side step that allowed them to continue to work and make sales during lockdowns.</p>
  <p>In Ballarat, NJW Designs suddenly found itself out of business. The company had been busy creating sets and props for stage productions, including those for the Australian Ballet and Disney productions, and had even recently hired more staff to meet the demand.</p>
  <p>Yet as theatre productions shut down overnight, owner Nathan Weyers made the smart decision to meet another need – that of home office furniture. Speaking to <a href="https://www.thecourier.com.au/story/6729811/the-show-must-go-on-ballarat-company-pivots-from-theatre-productions-to-furniture/" target="_blank" rel="noopener noreferrer" class="docs-creator">The Courier</a>, Weyers said the company began to create laptop stands and desks for at-home workers and students, and quickly moved on to other items such as toys, wine racks and sneeze guards.</p>
  <p>The shift helped the business to continue to work and employ staff throughout 2020, and their ability to diversify has created an entirely new product range for their team.</p>
  <p><img loading="lazy" class="size-full" src="../../assets/img/general_Info/SupportFromGov.jpg"></p>
  <h2><strong>Government support for small business.*</strong></h2>
  <p>If you are a small business owner and have found yourself needing to adopt new business models, you are not alone. Many small businesses in Australia have already begun adopting these models, or are in the process of doing so.</p>
  <p>However, that doesn’t mean that change is easy, or that it comes for free. The Australian government has programs and initiatives in place to assist SMBs through challenging times, including new grants created specifically for small businesses in the wake of the pandemic.</p>
  <p>Here are some of the grants and funding you could apply for to help your small business to pivot and adopt beneficial new business models:</p>
  <ul>
    <li><a href="https://business.gov.au/risk-management/emergency-management/coronavirus-information-and-support-for-business/jobkeeper-payment" target="_blank" rel="noopener noreferrer" class="docs-creator">The JobKeeper payment</a></li>
    <li><a href="https://treasury.gov.au/small-business/bgf" target="_blank" rel="noopener noreferrer" class="docs-creator">The Australian Business Growth Fund&nbsp;</a></li>
    <li><a href="https://business.gov.au/risk-management/emergency-management/coronavirus-information-and-support-for-business/boosting-cash-flow-for-employers" target="_blank" rel="noopener noreferrer" class="docs-creator">Cash flow boosts</a></li>
    <li><a href="https://business.gov.au/risk-management/emergency-management/coronavirus-information-and-support-for-business/relief-for-commercial-tenancies" target="_blank" rel="noopener noreferrer" class="docs-creator">Relief for commercial tenants</a></li>
    <li><a href="https://business.gov.au/risk-management/emergency-management/coronavirus-information-and-support-for-business/boosting-apprenticeship-commencements" target="_blank" rel="noopener noreferrer" class="docs-creator">Support for apprenticeships</a></li>
    <li><a href="https://business.gov.au/risk-management/emergency-management/coronavirus-information-and-support-for-business/early-access-to-superannuation" target="_blank" rel="noopener noreferrer" class="docs-creator">Superannuation early access</a></li>
    <li><a href="https://business.gov.au/risk-management/emergency-management/coronavirus-information-and-support-for-business/backing-business-investment" target="_blank" rel="noopener noreferrer" class="docs-creator">The Backing Business Investment (BBI)</a></li>
    <li><a href="https://business.gov.au/risk-management/emergency-management/coronavirus-information-and-support-for-business/increasing-the-instant-asset-write-off" target="_blank" rel="noopener noreferrer" class="docs-creator">The Instant Asset Write-off</a></li>
  </ul>
  <p>Adopting new business models has helped countless Australian businesses survive 2020, and may well help them thrive in the future. Yellow can help your business to pivot in the digital space, with a suite of products, including <a href="https://yellow.sensis.wpengine.com/product/yellow-websites/" class="docs-creator">Yellow Websites</a> and <a href="https://yellow.sensis.wpengine.com/product/yellow-sem/" class="docs-creator">Yellow SEM</a>, to improve your online brand and your offline sales.</p>

</div>
