<div class="text" id="target">
  <!-- basic information-->
  <div class="top">
    <h1> Investments </h1>
  </div>
  <img src="../../assets/Image/investment.jpg" style="overflow:hidden; width: 100%; " />
  <!-- Strategies-->
  <div>
    <h1 class="top">How to rebuilt you business in this Pandemic?</h1>
    <ol>
      <li>
        <strong>Assess the damage </strong> &nbsp;- The first step in developing a rebuilding plan is to determine just how deeply your business has been impacted to date from the impacts of the crisis – but to understand this, businesses need to look beyond the financial numbers.
        While comparing your financial results to last year’s numbers will allow you to see how much your business sales, profits and cash flow has been impacted, consider some of the other factors you may need to relook at.
      </li>
      <li>
        <strong>Optimise your costs </strong> &nbsp;- A renewed focus on costs will allow you to position your business for continued success.Cost optimisation is more than just cost cutting and belt tightening, and short-term tactics alone will not lead to sustained business success. Our experience working with private, mid-market and family businesses has shown that organisations that take a more holistic, strategic view will have a greater chance of success.A successful cost optimisation initiative starts with gathering current cost base and performing a spend analysis. This will help inform your needs and sets a baseline to measure and track success.
      </li>
      <li>
        <strong>Access to capital </strong> &nbsp;- Most businesses in private and mid-market sectors don’t usually have a large amount of cash on hand and it’s likely that any cash reserves are already depleted. Hence, there is a good chance that businesses will need access to working capital to rebuild and reshape.There are several options for business to seek access to capital during the rebuild period. Federal support programs designed to help small and medium businesses impacted by COVID-19 is an obvious place to start.
        <p>The challenge with federal programs is that the funding is limited – so it’s important to consider other sources of small business funding, including:</p>
        <ol style="list-style-type:disc">
          <li>traditional small business loans</li>
          <li>small business term loans from banks, credit unions and online lenders</li>
          <li>merchant cash advances</li>
          <li>business lines of credit</li>
        </ol>
      </li>
      <li>
        <strong>Getting confidence back in your workforce </strong> &nbsp;- The current crisis is first a humanitarian one, before anything else businesses should keep relentless focus on supporting employees through this. Have frequent and transparent conversations with your staff. Involve them in your planning processes as you map out future plans for rebuilding and reshaping the business. Truly engaged employees often offer the greatest ideas and involving them in the rebuilding stage will give them a sense of ownership in their roles and responsibilities.
      </li>
      <li>
        <strong>A digital first workplace and technology enablers </strong> &nbsp;- It is now important for businesses to start thinking more strategically about technology and digital capabilities, and investing in uplifting their technology capabilities as an imperative rather than a nice to have. Leveraging the new digital working order to your advantage will require strategic thinking around where the best opportunities lie to deliver lasting business value, customer experience and employee satisfaction
        <p>Some low cost benefits we consider SME businesses can get started on include:</p>
        <ol style="list-style-type:disc">
          <li>
            <strong> Cloud </strong> &nbsp;- as the preferred choice to provide a secure platform, accessible anywhere, anytime, and remove dependency on physical data centers.
          </li>
          <li>
            <strong> Anything-as-a-Service </strong> &nbsp;- As-a-service is not limited to software services but extends to activities, processes, and functions. These decisions will provide a focus for your investments in talent and innovation.
          </li>
          <li>
            <strong> Rapid automation </strong> &nbsp;- Automating repeatable tasks can provide significant benefits to your Small and medium businesses. It can also allow you to repurpose your workforce efforts to more valuable tasks.
          </li>
          <li>
            <strong> Secure digital workplace </strong> &nbsp;- A digital workplace strategy, done right, can save significant costs in unnecessary real estate rentals, while boosting productivity. Businesses must reevaluate parts of their business that can operate remotely.
          </li>
        </ol>
      </li>
      <li>
        <strong>Business Model</strong> &nbsp;- Organizations will need to reshape their business models to respond to changing consumer needs. Consideration will need to be given to how each aspect of the organization, from customer experience and sales to supply chain and back-office, will need to seamlessly collaborate to address customer expectations in the future.
        <p>Key areas to relook at in your operating model include: </p>
        <ol style="list-style-type:disc">
          <li>
            <strong> Customer </strong>&nbsp;- What lasting changes to customer expectations and behaviors will we see? How will you know your customers and engage with them differently in the future, and how will your brand respond accordingly?
          </li>
          <li>
            <strong> Procurement and supply chain </strong>&nbsp;- How do you optimize and automate supply chain processes, eliminating manual effort? How do you ensure the visibility and management of your supply chain to reduce business risk?
          </li>
          <li>
            <strong> Workforce</strong>&nbsp;- Which new skills will be required in your business in the post-COVID-19 world? What parts of your workforce will need to be retrained as you invest in automation and adapt your business model?
          </li>
        </ol>
      </li>
      <li>
        <strong> Build a plan and track progress </strong> &nbsp;- SME business leaders will find that doing everything at once may not be realistic when considering how to rebuild. Having a prioritized plan with your most important actions first can help give structure to this huge task. As you take necessary steps towards rebuilding your business, remember to track your progress. This is particularly important if you’ve secured capital to fund your business, because you don’t want to waste time on activities that aren’t delivering a solid return on your investment.
      </li>
    </ol>
  </div>
  <!--Client-->
  <div class="top">
    <h1> How SMEs expand thier business using this startegies ?</h1>
    <p>Have a look at these SMEs who have achieved substantial amount of growth by following these stategies.</p>
    <div class="row" id="profit">
      <div class="column">
        <a (click)="SMEinformation()" ><img class="img-fluid d-block mx-auto" src="assets/img/logos/envato.jpg" alt="" /></a>
      </div>
      <div class="column">
        <a (click)="SMEinformation()"><img class="img-fluid d-block mx-auto" src="assets/img/logos/designmodo.jpg" alt="" /></a>
      </div>
      <div class="column">
        <a (click)="SMEinformation()"><img class="img-fluid d-block mx-auto" src="assets/img/logos/themeforest.jpg" alt="" /></a>
      </div>
      <div class="column">
        <a (click)="SMEinformation()"><img class="img-fluid d-block mx-auto" src="assets/img/logos/creative-market.jpg" alt="" /></a>
      </div>
    </div>
  </div>
</div>


