<html>

   <head>
      <title>PROFIT TABLE</title>
   </head>
	
   <body>
       <h1 id="target">Customers' changed behaviour of purchase - 2019 & 2020 </h1>
      <table border = "5">
         <tr>
            <th>PRODUCTS</th>
            <th>JAN-MAR (2019)</th>
            <th>APR-JUN (2019)</th>
            <th>JUL-SEP (2019)</th>
            <th>OCT-DEC (2019)</th>
            <th>JAN-MAR (2020)</th>
            <th>APR-JUN (2020)</th>
            <th>JUL-SEP (2020)</th>
            <th>OCT-DEC (2020)</th>
 </tr>
         
         <tr>
            <td>Toilet_Paper</td>
            <td>54</td>
            <td>60</td>
            <td>55</td>
            <td>54</td>
            <td>19</td>
            <td>22</td>
            <td>19</td>
            <td>14</td>
        </tr>
        
        <tr>
            <td>Bread</td>
            <td>43</td>
            <td>55</td>
            <td>57</td>
            <td>49</td>
            <td>17</td>
            <td>22</td>
            <td>16</td>
            <td>13</td>
              
        </tr>

        <tr>
            <td>Longfill_Milk</td>
            <td>53</td>
            <td>59</td>
            <td>45</td>
            <td>53</td>
            <td>15</td>
            <td>20</td>
            <td>20</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Soft_Drinks</td>
            <td>44</td>
            <td>46</td>
            <td>62</td>
            <td>47</td>
            <td>23</td>
            <td>23</td>
            <td>19</td>
            <td>13</td>
        </tr>
        <tr>
            <td>Laundry_Liquid</td>
            <td>45</td>
            <td>55</td>
            <td>52</td>
            <td>47</td>
            <td>20</td>
            <td>22</td>
            <td>18</td>
            <td>14</td>
        </tr>
        <tr>
            <td>Frozen_food</td>
            <td>60</td>
            <td>57</td>
            <td>52</td>
            <td>57</td>
            <td>24</td>
            <td>29</td>
            <td>10</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Antibactrial_wipes</td>
            <td>48</td>
            <td>49</td>
            <td>47</td>
            <td>53</td>
            <td>24</td>
            <td>23</td>
            <td>12</td>
            <td>14</td>
        </tr>
        <tr>
            <td>Surgical_Mask</td>
            <td>44</td>
            <td>53</td>
            <td>49</td>
            <td>65</td>
            <td>15</td>
            <td>20</td>
            <td>16</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Gloves</td>
            <td>58</td>
            <td>57</td>
            <td>49</td>
            <td>45</td>
            <td>25</td>
            <td>28</td>
            <td>16</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Health_suppliments</td>
            <td>56</td>
            <td>51</td>
            <td>55</td>
            <td>45</td>
            <td>19</td>
            <td>24</td>
            <td>16</td>
            <td>14</td>
        </tr>
        <tr>
            <td>Painkillers</td>
            <td>56</td>
            <td>58</td>
            <td>50</td>
            <td>50</td>
            <td>25</td>
            <td>27</td>
            <td>15</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Coconut_water</td>
            <td>43</td>
            <td>56</td>
            <td>65</td>
            <td>54</td>
            <td>18</td>
            <td>21</td>
            <td>10</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Sanitizer</td>
            <td>59</td>
            <td>55</td>
            <td>59</td>
            <td>55</td>
            <td>15</td>
            <td>27</td>
            <td>10</td>
            <td>11</td>
        </tr>
        <tr>
            <td>Accomodation(Hotels)</td>
            <td>50</td>
            <td>60</td>
            <td>47</td>
            <td>57</td>
            <td>19</td>
            <td>29</td>
            <td>19</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Transportation</td>
            <td>54</td>
            <td>60</td>
            <td>49</td>
            <td>65</td>
            <td>20</td>
            <td>22</td>
            <td>15</td>
            <td>14</td>
        </tr>
        <tr>
            <td>Travel_Agency</td>
            <td>48</td>
            <td>50</td>
            <td>45</td>
            <td>57</td>
            <td>20</td>
            <td>29</td>
            <td>17</td>
            <td>11</td>
        </tr>
        <tr>
            <td>Museums</td>
            <td>46</td>
            <td>46</td>
            <td>61</td>
            <td>57</td>
            <td>17</td>
            <td>24</td>
            <td>20</td>
            <td>14</td>
        </tr>
        <tr>
            <td>Gardens</td>
            <td>47</td>
            <td>48</td>
            <td>51</td>
            <td>46</td>
            <td>19</td>
            <td>29</td>
            <td>13</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Shopping_mall</td>
            <td>48</td>
            <td>51</td>
            <td>63</td>
            <td>62</td>
            <td>24</td>
            <td>29</td>
            <td>13</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Clothes</td>
            <td>51</td>
            <td>54</td>
            <td>50</td>
            <td>60</td>
            <td>15</td>
            <td>29</td>
            <td>10</td>
            <td>14</td>
        </tr>
        <tr>
            <td>Restaurant</td>
            <td>54</td>
            <td>53</td>
            <td>53</td>
            <td>49</td>
            <td>17</td>
            <td>25</td>
            <td>10</td>
            <td>13</td>
        </tr>
        <tr>
            <td>NightClubs</td>
            <td>53</td>
            <td>45</td>
            <td>54</td>
            <td>53</td>
            <td>19</td>
            <td>30</td>
            <td>29</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Fuel</td>
            <td>55</td>
            <td>56</td>
            <td>50</td>
            <td>55</td>
            <td>16</td>
            <td>22</td>
            <td>10</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Construction</td>
            <td>44</td>
            <td>52</td>
            <td>59</td>
            <td>58</td>
            <td>24</td>
            <td>25</td>
            <td>12</td>
            <td>13</td>
        </tr>
      </table>
      
         <h1>Predictive Sales Insights:</h1> 
         <ol> 
        <li>People lost their jobs during the pandemic; however, digital marketing has boosted up. Online sales have taken over, people prefer shopping online instead visiting a store</li>
       
        
        <li>Many sectors saw decrease in their sales for instance during lockdown Travel and Tourism sector was in great loss. As the lockdown lifted, Tourism sector trying hard to save their companies</li>
        
        
        <li>Health sector came out to be an odd one out, during pandemic, health sector was in top ranking in profit making. People were choosing health over all other needs</li>
        
        <li>Many start-ups performed well and growing at a high rate in late 2020’s. Predictions shows that sales will be higher in 2021 as compared to previous year</li>
         </ol>
      
            <h1>Visual Representation</h1>
        
            <img src="../../assets/img/general_Info/SalesPredictionGraph.jpeg">
        


   </body>
</html>
